@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;

    --panel: 240 5% 96%;
    --panel-foreground: 224 71% 4%;

    --primary: 25 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 224 71% 4%;

    --accent: 25 100% 50%;
    --accent-foreground: 0 0% 100%;

    --border: 240 5% 90%;
    --input: 240 5% 90%;
    --ring: 25 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(to bottom right, #fed7aa, #f97316, #ea580c);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
